<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.web.mapper.Mapper">
	<select id="exist" resultType="int" parameterType="hashMap">
		SELECT COUNT(*) FROM ${type}  
		WHERE ${id}  LIKE #{data1} 
		AND ${pass} LIKE #{data2}
	</select>
</mapper>